.bg-color-transparent {
    background-color: transparent !important;
}

.bg-color-btn {
    border: 0 solid;
    background-color: transparent;
}

/* Medium */
@media (max-width: 768px) {
    .card-aside-img {
        margin-top: 0 !important;
        height: 100% !important;

    }
}

/* Filter Date */
/* Date sm*/
@media (max-width: 640px) {
    .card .calendar-parent {
        display: flex !important;
        flex-direction: column !important;
        align-items: flex-start;
    }

    .card .calendar-parent .calendar-child {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: flex-start;
        margin-top: 10px;
    }

    .card .calendar-parent .calendar-child .margin-to {
        margin-right: 22px !important;
    }
}

/* Date md*/
@media (min-width: 640px) {
    .card .calendar-parent {
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-between;
        align-items: baseline;
    }

    .card .calendar-parent .calendar-child {
        display: flex;
        flex-wrap: nowrap;

    }
}

/* Sidebar */
@media (max-width: 850px) {
    .sidebar {
        width: 0 !important;
        overflow: hidden;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
    }
}

@media (max-width: 850px) {
    .sidebar.toggled {
        width: 14rem !important;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
    }
}

/* Payment */
.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}