/* Home page */
.card-body {

    border: solid 0.5px #0000003d;
}

.bg-color-btn {
    border: 0 solid;
    background-color: transparent;
}

.fontStyleHint {
    text-align: center;
    font-family: garamond !important;
    font-family: Serif;
    font-style: italic !important;
    font-size: 75px;
    font-weight: 500;
    margin-bottom: 25px;
    margin-top: -22px;
}

.fontStyleLog {
    font-size: 18px !important;
}

.display-button {
    display: flex;
    justify-content: center;
}

.button-margin {
    margin-right: 25px;
}

.instagram-image {
    width: 70%;
    height: 70%
}

@media (max-width: 576px) {
    .display-button {
        display: inline-grid;
        width: auto;
    }

    .button-margin {
        margin-right: 0px;
    }
}

@media (max-width: 768px) {
    .instagram-image {
        width: 40%;
        height: 45%;
        margin: auto;
        display: block;
        margin-top: 25px;

    }

    .padding-xs {
        padding: 25px;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .instagram-image {
        width: 80%;
        height: 70%;
    }
}

@media (min-width: 1200px) {
    .instagram-image {
        width: 50%;
        height: 70%;
    }
}

@media (min-width: 1330px) {
    .custom-media .col-lg-4 {
        flex: 0 0 auto;
        width: 25% !important;
    }
}

/* ************************************ */
/* Profile */
/* bg profile */
.profile-bg {
    background: url("../../logo/bg-auth-overlay1.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat!important;
    background-position: center !important;
}
/* ************************************ */
/* Product show.blade.php */

.fontStyleHint2 {
    text-align: center;
    font-family: garamond !important;
    font-family: Serif;
    font-size: 25px !important;
    font-weight: 600 !important;
    margin-bottom: 25px;
    margin-top: -22px;
    background-color: #1a1a1aed;
    color: #fff;
}

@media (min-width: 992px) {

    .card-aside-img2  {
        position: relative;
        left: 30%;
        top: 10%;
    }
    .cardTop  {
        position: relative;
        top: 140px;
    }
}

@media (max-width: 768px) {
    .cardTop  {
        margin-top: -300px !important;
    }

    .JustCenter {
        display: grid !important;
        height: 851px;
    }

    .MarginTop {
        margin-top: 267px;
    }

    .card-aside-img2  {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .JustCenter {
        margin-top: 60px !important;
    }
}

@media (min-width: 768px) and (max-width: 830px){
    .image-width {
        width: 199px !important;
    }
}
@media (min-width: 992px) and (max-width: 1025px){
    .image-width {
        width: 199px !important;
    }
}
/* **************************************** */
/*      Navbar       */

@media (min-width: 768px){
    .nav-align-items {
        align-items: center;
    }
}